@charset "utf-8";

h1{
	font-size: 130%;
	position: relative;
	margin: 3px 0px 0px;
}

.level1{
	font-size: 100%;
	position: relative;
	margin: 0px 0px 3px;
}

.level1b{
	font-size: 100%;
	font-family:Arial, Helvetica, sans-serif;
	position: relative;
	margin: 3px 15px 0px;
}

.level1c{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	position: relative;
	margin: 0px 15px 2px;
}

.level2{
	font-size: 95%;
}

.level3{
	font-size: 90%;
}

.level4{
	font-size: 85%;
}

.level5{
	font-size: 80%;
}

.sitemap01{
	font-size: 130%;
	position: relative;
	margin: 0px;
}

.sitemap02{
	font-size: 100%;
	position: relative;
	margin: 0px 15px;
}

.text05l{
	font-size: 120%;
	line-height: 150%;
}

.text04l{
	font-size: 90%;
	line-height: 150%;
}

.text03l{
	font-size: 75%;
	line-height: 150%;
}

.text02l{
	font-size: 70%;
	line-height: 150%;
}

.text01l{
	font-size: 55%;
	line-height: 150%;
}

.text06m{
	font-size: 75%;
	line-height: 140%;
}

.text05m{
	font-size: 120%;
	line-height: 125%;
}

.text04m{
	font-size: 90%;
	line-height: 125%;
}

.text03m{
	font-size: 75%;
	line-height: 125%;
}

.text02m{
	font-size: 70%;
	line-height: 125%;
}

.text01m{
	font-size: 55%;
	line-height: 125%;
}

.text05s{
	font-size: 120%;
}

.text04s{
	font-size: 90%;
}

.text03s{
	font-size: 75%;
}

.text02s{
	font-size: 70%;
}

.text01s{
	font-size: 55%;
}

.fixtext05l{
	font-size: 19px;
	line-height: 150%;
}

.fixtext04l{
	font-size: 14px;
	line-height: 150%;
}

.fixtext03l{
	font-size: 12px;
	line-height: 150%;
}

.fixtext02l{
	font-size: 11px;
	line-height: 150%;
}

.fixtext01l{
	font-size:  9px;
	line-height: 150%;
}

.fixtext05m{
	font-size: 19px;
	line-height: 125%;
}

.fixtext04m{
	font-size: 14px;
	line-height: 125%;
}

.fixtext03m{
	font-size: 12px;
	line-height: 125%;
}

.fixtext02m{
	font-size: 11px;
	line-height: 125%;
}

.fixtext01m{
	font-size:  10px;
	letter-spacing: -1px;
	line-height: 125%;
}

.fixtext05s{
	font-size: 19px;
}

.fixtext04s{
	font-size: 14px;
}

.fixtext03s{
	font-size: 12px;
}

.fixtext02s{
	font-size: 11px;
}

.fixtext01s{
	font-size:  9px;
}

#menu_p01 a{
    display:block;
    width:178px;height:25px;
	padding-top:6px;
}

#menu_p01 a:hover{
	background-image: url(../common_img/menu_p_on.gif);
	background-color:#c9ddf9;
}

#menu_p02 a{
    display:block;
    width:178px;height:42px;
	padding-top:4px;
	line-height: 150%;
}

#menu_p02 a:hover{
    background-image: url(../common_img/menu_p_on.gif);
	background-color:#c9ddf9;
}

#menu_c01 a{
    display:block;
    width:178px;height:20px;
	padding-top:4px;
}

#menu_c01 a:hover{
    background-image: url(../common_img/menu_c_on.gif);
	background-color:#DEEDFF;
}

#menu_c02 a{
    display:block;
    width:178px;height:37px;
	padding-top:1px;
	line-height: 150%;
}

#menu_c02 a:hover{
    background-image: url(../common_img/menu_c_on.gif);
	background-color:#DEEDFF;
}

#menu_c03 a{
    display:block;
    width:178px;height:58px;
	padding-top:1px;
	line-height: 150%;
}

#menu_c03 a:hover{
    background-image: url(../common_img/menu_c_on.gif);
	background-color:#DEEDFF;
}
